name: Actualizar dolar

on:
  schedule:
    - cron: "0 13 * * *"   # 10 AM Argentina (UTC-3)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python oficial.py

      - name: Commit database
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add datos.db
          git commit -m "Update dolar data" || echo "No changes"
          git push
